<div class="frontpage-banner">
  <div class="greeting-container">
  <h1 class="greeting">WELCOME TO BARCARD</h1>
  </div>
  <div class="frontpage-features text-center box-shadow">
    <p>
      BarCard is an online social dictionary for bartenders and mixologists
      alike to learn and share bar recipes from far and wide. If you are ready
      to connect and share bar knowledge, please log in and enjoy!
    </p>
  </div>
</div>