/* Organizing styling for all pages into different sections of this stylesheet */

/* Inherited CSS & Global Styles */

:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --indigo: #0063b2ff;
  --indigo2: #195190ff;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #b7a9aa;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-2xl: 2rem;
  --bs-border-radius-pill: 50rem;
  --bs-heading-color: ;
  --bs-link-color: #0d6efd;
  --bs-link-hover-color: #0a58ca;
  --bs-code-color: #d63384;
  --bs-highlight-bg: #fff3cd;
  --light-blue: #90caf9;
}

html, body {
  height: 100%;
}

body {
  background: var(--indigo2);
  font-family: sans-serif, serif;
}

h1 {
  line-height: 1.5;
}

textarea {
  resize: none;
}

.box-shadow {
  box-shadow: 1px 1px 15px var(--bs-info), 1px 1px 40px var(--bs-info);
  animation: anime 1s linear infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Front Page */
.frontpage-banner {
  background-image: url("../images/BarCard-banner.jpg");
  background-position: 75%;
  background-size: cover;
  height: 100%;
  position: relative;
}

.greeting-container {
  padding: 10px;
  background: rgba(0,0,0,0.2);
  position: fixed;
  top: 25%;
}

.greeting {
  margin: 0;
  text-align: center;
}

.frontpage-features {
  width: 100%;
  padding: 20px 40px;
  background-image: url("../images/BarCard-planet.jpg");
  background-position: center;
  background-size: cover;
  position: absolute;
  bottom: 25%;
}

.frontpage-features > p {
  font-size: 1rem;
  margin: 0;
}

/* New Ingredient Page */
.ingredient {
  max-width: 500px;
  min-width: 350px;
}

.ingredient-color-animation {
  font-size: 2.2rem;
  background: linear-gradient(to right, white, #eedd44, #ef5350, #23d5ab);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.ingredient-form {
  background-color: #a2a2a1ff;
  border-radius: 10px;
  font-size: 18px;
}

.ingredient-input {
  margin-bottom: 20px;
}

.barcard-checkbox {
  width: 20px;
  height: 20px;
}

.ingredient-serving-size {
  border-radius: 5px;
}

/* New Recipe Page */
.new-recipe-header {
  background: linear-gradient(to right, lightblue, rgb(0, 221, 255));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.new-recipe-drink-name {
  font-size: 2rem;

  background: linear-gradient(to right, lightblue, orange);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.mixing-liquid {
  font-size: 2rem;

  background: linear-gradient(to right, pink, lightblue);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.new-recipe-liquid {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 90px;
  background-color: #a2a2a1ff;
  border-radius: 10px;
  font-size: 1.125rem;
}

.liquid-link {
  text-decoration: none;
}

.recipe-instructions {
  font-size: 2rem;
  background: linear-gradient(to right, yellow, orange);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.recipe-form > textarea {
  max-width: 300px;
}

/* All Recipes */
.new-recipe-cards-container {
  max-height: 100vh;
  min-height: 20vh;
}

.new-recipe-cards-container a {
  text-decoration: none;
}

.custom-bg-red {
  background-color: #d32f2f;
}

/* Reviews */
.checked {
  color: gold;
}